* {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  color: white;
}
body {
  background: linear-gradient(rgb(64, 0, 0), rgb(127, 0, 0), rgb(159, 0, 0));
}
.page {
  width: 70%;
  min-height: 100%;
  margin: 0 15%;
  padding: 0px 5px;
  background: rgba(0, 0, 0, 0.3);
}
.page header {
  text-align: center;
}
.page header h1 {
  font-size: 50px;
  line-height: 90px;
}
.page header h1>span>span {
  color: transparent;
  position: absolute;
}
.page header h1>span:after {
  content: 'â…';
  color: white;
  font-size: 40px;
}
